# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-e0zxq.eu-west-3.aws.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=JPXNCLRMG74UY3RP
sasl.password=hTDnAxhgc5cAmvqT62USDHmPv6bsiql4dJIB6Yy+dPmKoEVFhVcoPbvwQSvltayK

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

client.id=ccloud-python-client-694c05d0-7049-4492-b434-20572b6a6168
